html[dir="rtl"] {
  text-align: left;
}

html[dir="rtl"] .text-right {
  text-align: left !important;
}

html[dir="rtl"] .text-left {
  text-align: right !important;
}

html[dir="rtl"] .flex-row-reverse {
  flex-direction: row !important;
}

html[dir="ltr"] {
  text-align: right;
}

html[dir="ltr"] .text-left {
  text-align: right !important;
}

html[dir="ltr"] .text-right {
  text-align: right !important;
}

html[dir="ltr"] .flex-row {
  flex-direction: row-reverse !important;
}

html[dir="rtl"] .menu-items {
  left: 0;
  right: auto;
}

html[dir="ltr"] .menu-items {
  right: 0;
  left: auto;
}